*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid black;
  
}


.app-logo{
    padding-left: 10px;
    width: 100px;
}
.nav-links{
  list-style: none;

}

.nav-links > ul{
  list-style: none;
  display: inline-block;
  

}

.nav-links > ul > li{

  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;

}

.rest-card{
  background-color: rgba(184, 188, 193, 0.6);
  padding: 0px 0px 10px 0px;
  margin: 4px;
  border: 1px solid black;
  height: 250px;
  width: 300px;
  border-radius: 5px;
  font-family: Gilroy;
  font-weight: 600;
  cursor: pointer; 
  

}
.rest-card::hover{
  background-color: rgba(184, 188, 193, 0.6);
  padding: 0px 0px 10px 0px;
  margin: 4px;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  font-family: Gilroy;
  font-weight: 600;
  cursor: pointer; 
  box-shadow: 0lvh;

}
.sr-btn{
  display: block;
  align-content: center;
}

.rest-card-image{
  width: 100%;
  height: 50%;
  margin-bottom: 1px;
  object-fit: cover;


}

.rest-card h4{
  color: rgba(2, 6, 12, 0.6);
  font-weight:lighter;
}

.rest-card-container{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  display:flex;
  flex-wrap: wrap;
  align-content: space-evenly;

}